@model IEnumerable<AspRentals.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })


<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genres</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>        
    </tbody>
</table>

@section scripts{
    
    <script>

        $(document).ready(function () {

            var table = $("#movies").DataTable({

                ajax:{
                    url: "/api/MoviesApi/",
                    dataSrc : ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href = /Movies/Edit/" + movie.id + ">" + movie.name + "</Button>"
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-movie-id = " + data + ">Delete</Button>"
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this)
                bootbox.confirm("Are you sure you want to delete", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/MoviesApi/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();                               
                            }
                        });
                    }

                });
            });


        })


    </script>    
    
}


